*{
	font-size:12px;
}
body {
    font-family:verdana,helvetica,arial,sans-serif;
    font-size:12px;
}

.login-div {
	margin:0 auto;
	width:290px;
	top:200px;
}

.center-div {
	text-align:center;
}

.login-frm table tr td *{
	margin:5px;
}