*{
	font-size:12px;
}
body {
    font-family:verdana,helvetica,arial,sans-serif;
    font-size:12px;
    background: #f2f2f2
}

.login-div {
	margin:0 auto;
	width:290px;
	top:200px;
}

.center-div {
	text-align:center;
}

.login-frm table tr td *{
	margin:5px;
}

.heigth-div-15 {
	margin:15px
}
.height-div-200 {
	margin:200px
}

.fn-hide {
	display:none;
}

.login-back-image { 
	padding: 0; 
	margin: 0; 
	background: #f8f7e5 url(../img/login-back.jpg) no-repeat center top; 
	width: 100%; 
	display: table; 
} 

.schedule-table {
	border: solid 1px #d2d2d2;
	text-align:center;
	table-layout:fixed;
	width:80%;
	height:300px;
}

.schedule-table tr td {
	border: solid 1px #d2d2d2;
}

.schedule-table tr .a-td:hover{
	cursor:pointer;
}
